*{
    margin: 0;
    padding: 0;
    font-family: 'Kodchasan', sans-serif;
}
body{
    
}

nav{
}
.nav-wrapper{
    /*z-index: 9999;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;*/
}
.nav-wrapper ul{
    background: #1a1a1a;
    text-transform: uppercase;
    display: flex;
    border-bottom: 1px solid #343434;
}
.nav-wrapper ul li{
    text-align: center;
    list-style-type: none;
    flex-grow: 1;
    padding: 25px;
    margin: 20px 10px;
    justify-content: center;
}
.nav-wrapper ul li a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}
.nav-wrapper ul li a:hover{
    color: #d3560e;
}
.nav-wrapper img{
    padding: 25px;
    margin: 0 auto;
    height: 62px;
}

#slider{
    overflow: hidden;
}
#slider figure{
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;
}

#slider figure img{
    width: 20%;
    float: left;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@keyframes slider{
    0% {
        left: 0;
    }
    20% {
        left: 0;
    }
    25% {
        left: -100%;
    }
    45% {
        left: -100%;
    }
    50% {
        left: -200%;
    }
    70%{
        left: -200%;
    }
    75%{
        left: -300%;
    }
    95%{
        left: -300%;
    }
    100{
        left: -400%;
    }
}

main{
    margin: 0 auto;
    width: 80%;
}

main article{
    padding: 50px;
    text-align: justify;
}

main article h1{
    font-size: 34px;
    color: #d3560e;
    padding: 50px 0;
}

main article p{
    color: #616161;
}
.readmore{
    font-weight: 500;
    float: right;
}
.readmore a{
    color: #d3560e;
}
.readmore a:hover{
    color: #ff2400;
    transition: 0.4s;
}
#row-bg{
    border-bottom: 1px solid #fff;
    margin: 50px 0 0 0;
    width: 100%;
    background: #111;
}
.row{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    color: #fff;
}
.items{
    text-align: center;
    margin: 50px auto;
    flex-grow: 1;
    width: 33%;
}
.items h2{
    padding: 20px;
    margin: 30px 0px;
}
.items p{
    padding: 20px;
    margin: 30px 0px;
    word-wrap: break-word;
}
.icon{
    width: 160px;
}


#form{
    width: 80%;
    margin: 0 auto;
}
#map{
     background: #111;
}

#map h1{
    color: #d3560e;
    font-weight: 400;
    text-align: center;
    padding: 100px;
    width: 45%;
    margin: 0 auto;
}
.button{
    background: #fff;
    border: 1px solid #d3560e;
    padding: 25px;
    transition: 0.5s;
    border-radius: 2px;
}
.button:hover{
    cursor: pointer;
    background-color: #d3560e;
    color: #fff;
    transition: 0.5s;
}

.footer-distributed{
	background-color: #111;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	font: bold 16px sans-serif;
	text-align: left;
	padding: 50px 60px 40px;
	margin-top: -10px;
	overflow: hidden;
}

.footer-distributed .footer-left{
	float: left;
}

.footer-distributed h3{
	color:  #ffffff;
	font-size: 36px;
    font-weight: 400;
	margin: 0 0 10px;
}

.footer-distributed h3 span{
	color:  #d3560e;
}
.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 0 0 10px;
    font-weight: 400;
    font-size: 18px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}
.footer-distributed .footer-icons{
	margin-top: 40px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}
.footer-distributed .footer-right{
	float: right;
}

.footer-distributed .footer-right p{
	display: inline-block;
	vertical-align: top;
	margin: 15px 42px 0 0;
	color: #ffffff;
}

/* The contact form */

.footer-distributed form{
	display: inline-block;
}

.footer-distributed form input,
.footer-distributed form textarea{
	display: block;
	border-radius: 3px;
	box-sizing: border-box;
	background-color:  #1f2022;
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
	border: none;
	resize: none;

	font: inherit;
	font-size: 14px;
	font-weight: normal;
	color:  #d1d2d2;

	width: 400px;
	padding: 18px;
}

.footer-distributed ::-webkit-input-placeholder {
	color:  #5c666b;
}

.footer-distributed ::-moz-placeholder {
	color:  #5c666b;
	opacity: 1;
}

.footer-distributed :-ms-input-placeholder{
	color:  #5c666b;
}


.footer-distributed form input{
	height: 55px;
	margin-bottom: 15px;
}

.footer-distributed form textarea{
	height: 100px;
	margin-bottom: 20px;
}

.footer-distributed form button{
	border-radius: 3px;
	background-color:  #33383b;
	color: #ffffff;
	border: 0;
	padding: 15px 50px;
	font-weight: bold;
	float: right;
}

@media (max-width: 1000px) {

	.footer-distributed {
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-company-name{
		font-size: 12px;
	}

	.footer-distributed form input,
	.footer-distributed form textarea{
		width: 100%;
	}

	.footer-distributed form button{
		padding: 10px 35px;
	}

}

#burger-menu{
    display: none;
}

.menu_show{
    display: block;
}

.menu_hide{
    display: none;
}
@media screen and (max-width: 990px) {
    .show{
        display: block;
    }
    .row{
        flex-direction: column;
        width: 100%;
    }
    .height{
        height: 100vh;
        max-height: 100vh;
    }
    .nav-wrapper{
        position: relative;
        top: 0;
        
    }
    .nav-wrapper ul{
        flex-direction: column;
        transition: 0.5s;
        /*width: 100%;
        //background-color: #fff;
        //position: fixed;
        //top: 0;
        //left: 0;
        //z-index: 9999;
        //height: 100vh; */
    }
    .nav-wrapper ul li{
    
    }
    #logo{
        width: 100%;
        text-align: center;
        order: -1;
    }
    .items{
        width: 100%;
    }
    main article{
        padding: 0px;
    }
    .show{
        display: none;
    }
    /* eloelo */
    #burger-menu{
        display: block;
    }
    #burger-menu img{
        height: 40px;
    }
    #burger-menu img:hover{
        cursor: pointer;
        
    }
    .menu-burger{
        position: absolute;
        top: 10px;
        right: 0;
    }
    ul{
       overflow-y: auto;
    }
}
